@import '../../mixins/vars.scss';

.new-expense {
	border: 1px solid grey;
	margin: 1rem;
	background-color: $color-dark-blue;
	padding: 1rem;
}

.new-expense__form {
	padding: 1rem 2rem;
	background-color: $color-light-blue;
}

.new-expense__controls {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.new-expense__control {
	display: flex;
	flex-wrap: wrap;

	label {
		flex: 100%;
		margin-bottom: 0.5rem;
	}

	input {
		border-radius: 0.2rem;
		padding: 0.8rem 0.5rem;
		width: 100%;
	}
}

.new-expense__action {
	display: flex;
	justify-content: flex-end;
	margin-top: 1rem;
}
